@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*  font-family: "Fira Sans", serif; */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    margin-top: 10px;
    /* background-color: rgb(229, 229, 0.139); */
}

.nav-head{
    font-family: Fira Sans;
    width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;  
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}
.nav-btn{
    padding: 18px 35px; 
    border-radius: 6px;
    color: rgb(0, 106, 80);
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;

}
.second-btn{
    background-color: rgb(0, 106, 80);
    color: white;
}


/* second part */

.second-section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(198, 228, 214);
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}
.second-main{
    margin: 117px 60px;
}
.second-h4{
    font-size: 24px;
    font-weight: 600;
    opacity: 0.6;
}
.second-h3{
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin-bottom: 24px;
}
.second-img{
    width: 450px;
    height: 400px;
    margin-right: 50px;
}

/* pillar section */

.pillar-mains{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.pillar-main{
    height: 200px;
    width: 310px;
    background-color: rgb(243, 235, 235);
    border-radius: 10px;
    padding: 20px;
}
.pillar-main h4{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}
.pillar-main p{
    color: black;
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
}
.pillar-h{
    font-size: 40px;
    font-weight: bold;
    line-height: 40PX;
    text-align: left;
    margin-top: 50PX;
    margin-bottom: 20px;
}


/* .vission{
    height: 80vh;
    width: 100%;
} */

.vission-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}
.vission-card-1{
    width: 410px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 143, 245, 0.298);
    /* opacity: 20px; */
}
.vission-card-1:hover{
    background-color: rgba(84, 143, 245, 0.498);
}
.vission-card-2{
    width: 410px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
}
.vission-card-2:hover{
    background-color:rgb(136, 206, 173) ;
}
.vission-card-3{
    width: 410px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgb(247, 235, 207);
}
.vission-card-3:hover{
    background-color: rgb(232, 208, 152);
}

.vission-btn-1{
    padding: 10px 20px; 
    border-radius: 6px;
    color: white;
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;
    background-color: rgb(84, 144, 245);
    border: none;
}
.vission-btn-2{
    padding: 10px 20px; 
    border-radius: 6px;
    color: white;
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;
    background-color: rgb(9, 161, 92);
    border: none;
}
.vission-btn-3{
    padding: 10px 20px; 
    border-radius: 6px;
    color: white;
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;
    background-color: rgb(255, 194, 57);
    border: none;
}
.vission-h{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}
.vission-p{
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 70%;
}
.vission{
    margin-top: 50px;
}
.vission-card h4{
    font-size: 20px;
    padding: 5px;
}
.vission-card p{
    font-size: large;
    padding: 8px;
    text-align: left;
}
.vission-card button{
    margin-top: 20px;
}
.vission-card img{
    margin-bottom: 20px;
}

/* younus */

.younus-p{
    font-size: 20px;
    margin-bottom: 20px;
    opacity: 60%;
}
.younus-1{
    background-color: rgb(254, 248, 248);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 16px;
}
.younus-2{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    position: top left;
}
.younus{
    margin-top: 25px;
    padding: 5px;
}
.younus-2 p{
    font-size: 15px;
    font-weight: small;
    opacity: 70%;
}
.younus-3{
    padding-top: 25px;
}


/* setelaite */

/* .box-model{
    background-color: rgb(245, 236, 236);
    padding: 15px;
    margin: 1px solid;
    border-radius: 5px;
} */


.sec-head{
    /* background-color: rgb(250, 239, 239);
    border-radius: 10px; */
}

.sec-h1{
    font-size: 30px;
    padding: 5px;
}
.sec-p{
    font-size: small;
    font-weight: 400;
    padding: 5px;
    color: black;
    margin-bottom: 5px;
}
.slt-head{
    border-radius: 10px;
    background-color: white;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.setalite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}


.setalite-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.setalite-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
}


.main{
    background-color: rgb(247, 242, 242);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.slt-img img{
    width: 300px;
    height: 250;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
    margin-top: 14px;
}
.slt-h{
    font-size: 400;
    font-weight: bolder;
    text-align: left;
}
.slt-hd{
    margin-top: 20px;
    padding: 15px;
}
.time{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: small;
    opacity: 70%;
    margin-top: 0px auto;
}
.slt-hd p{
    font-size: 15px;
    font-weight: 400;
    opacity: 70%;
    color: black; 
    margin-top: 7px;
}
.slt-btn{
    padding: 10px 15px; 
    border-radius: 6px;
    background-color: rgb(0, 106, 80);
    color: white;
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;  
    margin-top: 15px;
}

.solid{
    background-color: rgb(247, 242, 242);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.solid h1{
     text-align: center;
     font-size: 25px;
     font-weight: bold;
     padding: 10px;
     
}

.solid p{
    text-align: center;
    font-size: large;
    font-weight: 400;
    padding: 5px;
}
.all-button button{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 30px 20px 30px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: black;
}
.all-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.button-1:hover{
    background-color: aquamarine;
}
.button-2:hover{
    background-color: aquamarine;
}
.button-3:hover{
    background-color: aquamarine;
}
.button-4:hover{
    background-color: aquamarine;
}

.form{
    text-align: center;
    margin: 10px;
    font-size: large;
    font-weight: 400;
    
}
.input{
    width: 70%;
    height: 50px;
    text-align: center;
    padding: 10px;
}
.input-btn{
    padding: 10px 15px; 
    border-radius: 6px;
    background-color: rgb(0, 106, 80);
    color: white;
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;  
    margin-top: 15px;
    text-align: center;
    align-items: center;
    margin-left: 580px;
}

.subscribe{
    background: rgb(198, 228, 214);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.subscribe h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 070px;
}
.subscribe p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    font-size: large;
    font-weight: 400;
    width: 70%;
    height: 50px;
}
 .input-2{
    width: 70%;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin-left: 400px;
}
.input-btn-1{
    width: 70%;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin-left: 240px;
    padding: 10px 15px; 
    border-radius: 0px 6px 6px 0px;
    background-color: rgb(0, 106, 80);
    color: white;
    font-weight: 700;
    border: 1px solid; 
    font-size: 13px;  
} 
.last-p{
    margin-bottom: 40px;
    margin-top: 20px;
}
.first-p{
    margin-top: 10px;
}











